<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
      <p>
        This is just some fildagarefhbatdfler HTML made by me
      </p>
      <br>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
      <p>
        This is just some filler HTML made by me
      </p>
      <br>
    </div>
    <button id="page-button1" style="border-radius:8px 8px 8px 8px;" class="button button-calm button-large button-block">MyButton</button>
  </ion-content>
</ion-view>